In [1]:
print("Hello, World!")
print("hello world")

Hello, World!
hello world

In [2]:
if 5>2:
    print ("true")

true

In [4]:
y=5
y="hello"

In [5]:
print(y)

hello

In [6]:
#comment

In [7]:
print(type(y))

<class 'str'>

In [8]:
#A variable name must start with a letter or the underscore character
#A variable name cannot start with a number
#A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
#Variable names are case-sensitive (age, Age and AGE are three different variables)

In [9]:
x,y,z ="orange","banana","cherry"
print(x)
print(y)
print(z)

orange
banana
cherry

# variables  global and local

In [12]:
x="awesome"#global

def myfunc():
    x="fantastic"#local var
    print("python is "+ x)
    
myfunc()

python is fantastic

In [13]:
print("python is " +x)

python is awesome

# To change the value of a global variable inside a function, refer to the variable by using the global keyword:

In [32]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"
  print("python is " +x)

myfunc()



print("python is " +x)

python is fantastic
python is fantastic

# datatypes

In [26]:
#https://www.w3schools.com/python/python_datatypes.asp

In [27]:
#dictionary
x={"name": "harry potter", "age" : 36}

In [31]:
print(x)

{'name': 'harry potter', 'age': 36}

In [33]:
xi = 1

In [34]:
x= float(xi)

In [35]:
print (x)

1.0

In [41]:
#RANDOM

import random
print(random.randrange(1,10))

7

In [48]:
#casting

x = int(3)
y= int(4.12546)
z=int("6")
print (float(x),y,str(z))

3.0 4 6

In [49]:
#string
print ("hello")
print('hello')

hello
hello

In [56]:
a= """multiline strings,
second line,
third line
fourth line"""

print(a)

multiline strings,
second line,
third line
fourth line

In [57]:
print(a[1])

u

In [59]:
for x in "yash":
    print(x)

y
a
s
h

# string length

In [60]:
a ="hello world"
print(len(a))

11

In [62]:
txt ="hello world i m yash"
print("yash" in txt) #check whether the letter present in the text given as input

True

In [66]:
if "yash" in txt:
    print("yes, 'yash' is present")

yes, 'yash' is present

In [69]:
if "i am yash" not in txt:
    print("no, 'i am yash' is not present")

no, 'i am yash' is not present

# slicing

In [82]:
string =" this is an example of the string"
print(string[1:19])#form string word to word
print(string[:19])#from the begining
print(string[1:])#to the end from the number as start

this is an example
 this is an example
this is an example of the string

In [83]:
#negative indexing

In [84]:
b= "this is a example of the string"
print(b[-5:-2])

tri

In [85]:
print(b[-5:])

tring

In [86]:
print(a.upper())

HELLO WORLD

In [87]:
print(a.lower())

hello world

# strip

In [92]:
str = "                 this is an example of whitespaces in the given line              "
print(str.strip())

this is an example of whitespaces in the given line

In [93]:
#replace
print(a.replace("hello","hi"))

hi world

In [97]:
a= "hello , World"#spit the words
print(a.split(","))

['hello ', ' World']

In [99]:
#concatenation
a="new"
b="world"
c =" "
print(a+c+b)

new world

# strinf format ****

In [104]:
#age= 36
#txt ="this is wrong example of combine string with other datatype " + age
#print(txt)
#TypeError: can only concatenate str (not "int") to str

In [106]:
age=36
txt ="this is the corect example of combining a strig with the iteger {} "
print(txt.format(age))

this is the corect example of combining a strig with the iteger 36

In [107]:
quantity = 32.23
second = 4464646
third = 45
text = "i want {} pieces if item {} for rs {}"
print(text.format(quantity,second,third))

i want 32.23 pieces if item 4464646 for rs 45

In [111]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))#0,1,2 position analyzed

I want to pay 49.95 dollars for 3 pieces of item 567.

In [120]:
text = "hello \oooworld"
print(text)

hello \oooworld